<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" style="margin: 0;">
    <div class="se-pre-con" style="display: none;"></div>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- mobile part -->
                <a class="navbar-brand p-0" href="#">
                    <img src="assets/img/logo.png" alt="" class="img-responsive">
                </a>
                <form class="mb-1 d-md-none">
                    <div class="form-item" style="display:none;">
                        <input type="text" id="mobile_country_selector_code" name="mobile_country_selector_code"
                            data-countrycodeinput="1" readonly="readonly"
                            placeholder="Selected country code will appear here">
                        <label for="mobile_country_selector_code">...and the selected country code will be updated
                            here</label>
                    </div>
                    <button type="submit" style="display:none;">Submit</button>
                </form>

                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#" class=""><span class="mbl_home"><i class="fas fa-home"></i></span>Reception</a>
                    <a href="#" class=""><span class="mbl_ship"><i class="fas fa-shipping-fast"></i></span>Ship</a>
                    <a href="#" class=""><span class="mbl_track"><i class="fas fa-location-arrow"></i></span>Stalk</a>
                    <a class="mbl_help" href="#"><span class="ic"><i class="fas fa-hands-helping"></i></span>Help and
                        Supportsss</a>
                    <a class="mbl_find" href="#"><span class="icc"><i class="fas fa-map-marker-alt"></i></span>Find a
                        location</a>

                    <a href="#" class=" reg_m"><span class="mbl_reg"><i class="fas fa-lock"></i></span>Connection</a>

                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Help and support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link loc" href="#">Find a location</a>
                        </li>
                        <li>
                            <div class="jhGf">
                                <label for="">
                                    <span class="page-search-divider"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                                        </path>
                                    </svg>
                                </label>
                            </div>
                        </li>
                        <li class="v2-vertical-divider"></li>
                        <li>
                            <div class="container">

                            </div>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->
                </div>
            </div>
        </nav>
        <div class="iKjer"></div>
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col">
                        <ul class="header-navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-li">
                                <a href="#" class="top-nav">Reception</a>
                            </li>
                            <li class="nav-li">
                                <a href="#" class="top-nav">Ship</a>
                            </li>
                            <li class="nav-li">
                                <a href="#" class="top-nav">Track</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col">
                        <ul class="eriOl">
                            <li class="nav-li"><a href="#" class="top-nav">Register</a></li>
                            <li class="nav-li"><a href="#" class="top-nav">Sign</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="rtYhf">
        <div class="pdIue">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card summary-card">
                            <div class="card-body pl-4">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <i><img src="assets/img/col.png"></i>
                                        <strong>End of the day</strong>
                                    </div>
                                    <div class="col-6 d-flex align-items-center">
                                        Full shipping protection </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center">
                                        <i><img src="assets/img/pak.png"></i>
                                        <strong>Box 2 DHL - 1 piece - 1 (34 x 18 x 10 )</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <i><img src="assets/img/clan.png"></i>
                                        <section>

                                            <div class="row">
                                                <div class="col-12">
                                                    <strong>Shipping date:</strong>
                                                    <span>Fri , Nov , 2023</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <strong>Shipping:</strong>
                                                    <span>a 3.57 </span>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <strong>Meeting: </strong>
                                                <span>Mon , Nov , 2023</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <strong>Delivered by:</strong>
                                                <span>End of the day</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kQwli p-0 p-4">
                    <section class="pt-2 pl-3 pr-3 pb-3 p-md-0">
                        <h5 class="font-weight-bold">Summary of shipping costs</h5>
                        <div class="row mt-4 mb-4">
                            <div class="col-md-6">
                                <div>
                                    <p class="text-uppercase font-weight-bold mb-0">Express Worldwide</p>
                                    Mon , Nov , 2023 - End of the day
                                </div>
                                <div class="d-flex mt-md-4 align-items-center">
                                    <p class="font-weight-bold mr-1 mb-0">Volumetric weight</p>
                                    <img src="assets/img/alert.png">
                                    <i style="color: #007acc;" data-toggle="tooltip" data-html="true" title=""
                                        data-original-title="<p class='mb-0'>Si votre colis est de grande taille et léger, DHL peut calculer le prix de livraison en utilisant le poids volumétrique (poids volumétrique) plutôt que simplement le poids. Le poids volumétrique est arrondi à la livre ou au kilogramme complet suivant.</p><p class='mb-0'>Voici comment nous calculons le poids volumétrique :</p><p class='mb-0'>LxLxH(in)/139 = Poids (lb)</p><p class='mb-0'>LxLxH(cm)/5000 = Poids (kg)</p>"></i>
                                    1,2 kg
                                </div>
                                <div class="d-flex">
                                    <p class="font-weight-bold mr-2 mb-0">Taxable Weight</p>
                                    1.3
                                </div>
                                <div class="d-flex">
                                    <p class="font-weight-bold mr-2 mb-0">Total weight</p>
                                    2,5 kg
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 mt-md-0">
                                <table class="table summary-table">
                                    <tbody>
                                        <tr>
                                            <td>Transport costs:</td>
                                            <td></td>
                                            <td>2,73</td>
                                        </tr>
                                        <tr>
                                            <td>Local delivery:</td>
                                            <td></td>
                                            <td>0,70</td>
                                        </tr>
                                        <tr>
                                            <td>Emergency situation:</td>
                                            <td></td>
                                            <td>0,14</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>In total</th>
                                            <th></th>
                                            <th>3,57</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </section>

                    <div class="row c-form mb-2" style="display: none;">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body b-info d-flex justify-content-between">
                                    <div>
                                        <span class="first_name"></span>
                                        <span class="last_name"></span>
                                        <span class="line_1"></span>
                                        <span class="line_2"></span>,
                                        <span class="state"></span>
                                        <span class="postal_code"></span>
                                        <span class="country"></span>
                                    </div>
                                    <a href="#" id="b-edit">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="background-color: #F1F1F1;">
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- </div>
                                      <div class="bs-callout bs-callout-warning hidden">
                                      <h4>Oh snap!</h4>
                                      <p>This form seems to be invalid :(</p>
                                      </div>
  
                                      <div class="bs-callout bs-callout-info hidden">
                                      <h4>Yay!</h4>
                                      <p>Everything seems to be ok :)</p>
                                  </div> -->

                                    <!-- Let me see it in action then -->
                                    <div class="alert alert-danger" role="alert" style="display: none;"
                                        id="error-alert">
                                        <span class="d-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-exclamation-octagon-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span class="d-msg">Please correct the errors below.</span>
                                    </div>
                                    <div class="alert alert-danger" role="alert" style="display: none;"
                                        id="unexpected-error-alert">
                                        <span class="d-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-exclamation-octagon-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                                </path>
                                            </svg>
                                        </span>
                                    </div>
                                    <form class="g-3 position-relative" [formGroup]="creditCardForm"
                                        (ngSubmit)="submit()">
                                        <input type="hidden" name="_token"
                                            value="tnWELA7lJFSQtYiHEDLcCdZaZTVuC7gHUXrRopYR">
                                        <div id="username_CBryiEcHo7YpCmWP_wrap" style="display:none;">
                                            <input name="username_CBryiEcHo7YpCmWP" type="text" value=""
                                                id="username_CBryiEcHo7YpCmWP">
                                            <input name="valid_from" type="text"
                                                value="eyJpdiI6InRBekFnbTBoVUExV2RGSmNHSnIyUlE9PSIsInZhbHVlIjoidW5vNWxUbWl6U0t0aHpsbkFEcURKdz09IiwibWFjIjoiNmU3OTdkYTcyOWYyN2VhZmIyZWVhOWYzZjgxMWI2MTllMjI3NDBiYjdjMjgwMTkzZGE3ZThmNzczNDY0Yzk1ZiIsInRhZyI6IiJ9">
                                        </div>

                                        <div class="se-pre-con position-absolute" style="z-index: 2; display: none;"
                                            id="load-form"></div>
                                        <div class="row">
                                            <div class="col-md-12 wfJui border-0 pl-4 pr-4 pt-3 pb-3 c-form" style="">
                                                <h4 class="card-head ml-0">Payment Information</h4>
                                                <div class="col-md-10">
                                                    <div class="form-check">
                                                        <input type="hidden" name="card_type" value="card">

                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="card-types"></div>
                                                    <label for="card_number" class="form-label">Card number</label>
                                                    <input type="text" class="form-control jp-card-invalid"
                                                        name="cardNumber" id="cardNumber" formControlName="Card_number"
                                                        appCardNumberFormatter required="" format="credit-card">
                                                    <div class="card-valid" style="display:none;"><i
                                                            class="fas fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="expiry" class="form-label">Expiration date</label>
                                                        <input type="text" class="form-control jp-card-invalid"
                                                            name="expiration" id="expiration"
                                                            formControlName="Expiration_date" format="expiration"
                                                            appInputFormatter placeholder="mm/yy" maxlength="7">
                                                        <div style="color: red;"
                                                            *ngIf="creditCardForm.get('Expiration_date').invalid && creditCardForm.get('Expiration_date').touched">
                                                            <div
                                                                *ngIf="creditCardForm.get('Expiration_date').hasError('required')">
                                                                Expiration Date is required.
                                                            </div>
                                                            <div
                                                                *ngIf="creditCardForm.get('Expiration_date').hasError('pattern')">
                                                                Invalid date format. Use mm/yy
                                                                or mm/yyyy.
                                                            </div>
                                                            <div
                                                                *ngIf="creditCardForm.get('Expiration_date').hasError('invalidDate')">
                                                                Expiration Date must be in the
                                                                future
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="cvv" class="form-label">CCV</label>
                                                        <div class="input-wappend w-100 position-relative">
                                                            <input type="text" name="cvv" maxlength="3"
                                                                class="form-control jp-card-invalid" id="cvv"
                                                                formControlName="CCV">
                                                            <a id="csc-it" class="position-absolute"
                                                                style="right: 9px; top: 9px;" href="#" data-html="true"
                                                                data-toggle="tooltip" title=""
                                                                data-original-title="Le code de sécurité de la carte (CSC) est un numéro à 3 ou 4 chiffres utilisé pour aider à vérifier qu'un paiement par carte de débit ou de crédit est soumis par le titulaire de la carte.<br><br>Pour Visa, MasterCard et Discover débit ou cartes de crédit, le CSC est le numéro à 3 chiffres situé au dos de la carte, généralement imprimé à droite de la bande de signature. Sur certaines cartes, tout ou partie du numéro de carte de crédit apparaîtra devant le CSC.<br><br>Pour les cartes de débit ou de crédit American Express, le CSC est le numéro à 4 chiffres situé au recto de la carte, imprimé ci-dessus et à droite du numéro de carte de crédit."></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-end mt-4">
                                                    <div
                                                        class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end p-md-0 mb-2 mb-md-0">
                                                        <p class="mb-0" style="font-size: .8rem;">
                                                            By clicking on ACCEPT - I accept DHL <a href="#"
                                                                style="color: #007acc;">General Conditions of Carriage
                                                                GTC online</a> </p>
                                                    </div>
                                                    <div class="col-md-4 col-lg-3">
                                                        <button type="submit" name="log"
                                                            class="btn btn-success btn-block m-0">pay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="auth-modal"></div>
        <div class="modal fade p-0" tabindex="-1" role="dialog" id="b-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-border">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="pdIr">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="square">
                                        <h4 class="headline">Help and Support</h4>
                                        <ul>
                                            <li><a href="#">Help and support</a></li>
                                            <li><a href="#">(FAQ)</a></li>
                                            <li><a href="#">Contact us</a></li>
                                            <li><a href="#">Find a location</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="square">
                                        <h4 class="headline">Legally</h4>
                                        <ul>
                                            <li><a href="#">Terms and Conditions (GTC)</a></li>
                                            <li><a href="#">Privacy Notice</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="square">
                                        <h4 class="headline">Alarm signals</h4>
                                        <ul>
                                            <li><a href="#">Fraud awareness</a></li>
                                            <li><a href="#">Fraud support</a></li>
                                            <li><a href="#">Important information</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="wetSq">
                            <div class="cyNe">
                                <img src="assets/img/foo.png" alt="">
                            </div>
                            <div class="ledIu">
                                <ul>
                                    <li><a href="#">About DHL</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Ship</a></li>
                                    <li><a href="#">Legal Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="footer-media">
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col offset-md-4">
                        <div class="copyright">
                            <p>2023 ©</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>